@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .menuAnimasi {
    --minScaleVP: 0.75;
    --geserVP: 80%;
  }
  @keyframes bukaKey {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(var(--minScaleVP));
    }
    100% {
      transform: scale(var(--minScaleVP)) translateX(var(--geserVP));
    }
  }
  @keyframes tutupKey {
    0% {
      transform: scale(var(--minScaleVP)) translateX(var(--geserVP));
      @apply h-dvh overflow-hidden rounded-xl shadow-xl;
    }
    50% {
      transform: scale(var(--minScaleVP));
    }
    99% {
      @apply h-dvh overflow-hidden rounded-xl shadow-xl;
    }
    100% {
      transform: scale(1);
    }
  }
  .menuAnimasi.buka {
    animation: bukaKey 0.4s ease-in-out forwards;
    @apply shadow-xl h-dvh rounded-xl overflow-hidden;
  }
  .menuAnimasi.tutup {
    animation: tutupKey 0.7s ease-in-out forwards;
  }
}
